[Unit]
Description=HHVM HipHop Virtual Machine (FCGI)
 
[Service]
ExecStart=/usr/local/bin/hhvm
--config /etc/hhvm/server.ini \
--config /etc/hhvm/php.ini \
--config /etc/hhvm/config.hdf \
--user nginx \
--mode daemon \
-vServer.Type=fastcgi \
-vServer.Port=9000
 
[Install]
WantedBy=multi-user.target
